@keyframes pisca {
    0% { opacity: 0.2; }
    50% { opacity: 1; }
    100% { opacity: 0.2; }
}

body {
    display: flex;
    margin: 40px 0;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

.urna {
    display: flex;
    background-color: #dbd5c9;
    padding: 30px;
}

.tela {
    display: flex;
    flex-direction: column;
    width: 450px;
    height: 320px;
    background: linear-gradient(to right, #e8e8e8, #c1c1c1);
    margin-left: 30px;
    border: 2px solid #555;
}

.teclado {
    margin-left: 30px;
    background-color: #403a3a;
}

.linha-teclado {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.btn-teclado {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    width: 70px;
    height: 40px;
    background-color: #000;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    box-shadow: 3px 3px 0px #555;
    border: none;
    border-radius: 2px;
}

.btn-branco {
    background-color: #fff;
    color: #000;
    font-size: 13px;
}

.btn-corrige {
    background-color: #f09046;
    color: #000;
    font-size: 13px;
}

.btn-confirma {
    background-color: #48c079;
    color: #000;
    font-size: 15px;
    width: 90px;
    height: 50px;
}

.numero {
    display: table-cell;
    width: 30px;
    height: 40px;
    border: 1px solid #000;
    text-align: center;
    line-height: 40px;
    font-size: 25px;
}

.pisca {
    animation-name: pisca;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

.d-1 {
    display: flex;
    flex: 1;
}

.d-1-esquerda {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
}

.d-1-direita {
    width: 90px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.d-1-imagem {
    border: 1px solid black;
    background-color: #FFF;
    text-align: center;
    font-size: 14px;
}

.d-1-imagem img {
    width: 100%;
}

.d-1-imagem.pequeno {
    width: 80%;
    font-size: 12px;
}

.d-1-1 {
    height: 50px;
    display: flex;
    align-items: center;
}

.d-1-2 {
    height: 50px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.d-1-3 {
    height: 50px;
}

.d-1-4 {
    flex: 1;
    line-height: 30px;
}

.d-2 {
    height: 50px;
    font-size: 15px;
    border-top: 2px solid #000;
    padding-left: 10px;
}

.aviso-grande {
    font-size: 35px;
    font-weight: 600;
    margin-top: 30px;
}

.aviso-gigante {
    font-size: 70px;
    font-weight: bold;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}